# Supabase
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
SUPABASE_DATABASE_URL=
SUPABASE_MGMT_TOKEN=

# EVM Relayer
RELAYER_PRIVATE_KEY=
RELAY_CONTRACT_ETH=
RELAY_CONTRACT_BASE=
RELAY_CONTRACT_POLYGON=
RELAY_CONTRACT_ARBITRUM=
ALCHEMY_API_KEY=
ETH_RPC=
POLYGON_RPC=
ARBITRUM_RPC=
BASE_RPC=
BASE_SEPOLIA_RPC=

# Solana Fee Payer
SOLANA_RELAYER_PRIVATE_KEY=
SOLANA_RPC=
SOLANA_PROGRAM_ID=

# TON Sponsor
TON_RELAYER_MNEMONIC=
TONCENTER_API_KEY=
TONCENTER_API_URL=
TON_GASLESS_WALLET_ADDRESS=
TONAPI_KEY=
TONAPI_URL=

# App
PORT=3001
APP_NETWORK=
RELAY_THRESHOLD=
API_VERSION=
GAS_POOL_THRESHOLD=

# API URLs
JUPITER_API_URL=
